<img id="magazine-header" src="./assets/magazine-header.png">

<div class="container">
  <div class="nav-text">
    <div class="">
      FEM 101
    </div>
    <div class="">
      PRIVILEGE
    </div>
    <div class="">
      TRANS & GNC
    </div>
    <div class="nav-button">
      RACE
    </div>
    <div class="nav-button">
      LGBTQIA
    </div>
    <div class="nav-button">
      CLASS
    </div>
    <div class="nav-button">
      RELIGION
    </div>
    <div class="nav-button">
      SEX
    </div>
    <div class="nav-button">
      LOVE
    </div>
    <div class="nav-button">
      BODY
    </div>
    <div class="nav-button">
      DISABILITY
    </div>
    <div class="nav-button">
      VIOLENCE
    </div>
    <div class="nav-button">
      VIDEOS
    </div>
    <div class="nav-button">
      COMICS
    </div>
  </div>
</div>
