#magazine-header {
  width: 100%;
}

.nav-text {
  font-family: 'Roboto', sans-serif;
  color: black !important;
}

.nav-text:hover {
  color:#ed6f2e !important;
}

.header-design {
  background-color: black;
}
