<img id="magazine-header" src="./assets/magazine-header.png">

<div class="container">

  <nav class="navbar navbar-expand-xl navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link nav-text" href="#">FEM 101</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-text" href="#">PRIVILEGE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-text" href="#">TRANS & GNC</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-text" href="#">RACE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-text" href="#">LGBTQIA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-text" href="#">CLASS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-text" href="#">RELIGION</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-text" href="#">SEX</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-text" href="#">LOVE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-text" href="#">BODY</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-text" href="#">DISABILITY</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-text" href="#">VIOLENCE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-text" href="#">VIDEOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-text" href="#">COMICS</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-12">
          <app-headline></app-headline>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <app-popular-today></app-popular-today>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <app-sign-up></app-sign-up>
    </div>
  </div>

</div>
