.headline-text {
  background-color: white;
  padding: 15px;
  position:absolute;
  bottom: 8px;
  left: 0px;
  right: 150px;
  bottom: 15px;
  opacity: .80;
  line-height: 1.5;
}

.highlight {
  background-color: black;
  opacity: .86;
  padding: 4px;
}

.headline-holder {
  position: relative;
  margin-bottom: 30px;
}

a {
  color: black;
  font-size: 25px;
}

a:hover {
  color: #ed6f2e;
  text-decoration: none;
}
